@import url(//db.onlinewebfonts.com/c/ca6f91c0cad2fe33614026d17117601d?family=Edwardian+Script+ITC);

@import url(//db.onlinewebfonts.com/c/1db29588408eadbd4406aae9238555eb?family=Consolas);

body{
	font-size: 14pt;
}

p::first-letter {
	font-family: Edwardian Script ITC;
	font-size: 2.5em;
}

p{
	font-family: Consolas;
	color: #0094ff;

}